@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #050505;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 815px) {
  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #17181b;
    margin-bottom: 20px;
    padding: 30px 0 10px 0;
  }

  .profile-img {
    height: 60px;
    width: 60px;
    margin: 20px;
  }

  .profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-info {
    color: #fff;
    letter-spacing: 0.5px;
  }

  .profile-info h3 {
    font-size: 30px;
  }

  .profile-info h5 {
    opacity: 0.6;
    font-weight: 400;
    line-height: 2;
    font-size: 15px;
  }

  .btn i {
    color: #fff;
    opacity: 0.6;
    font-size: 25px;
    margin-right: 20px;
  }

  .tab-panel {
    display: none;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
    background-color: #17181b;
    padding: 30px 20px;
  }

  .button-container button {
    background-color: transparent;
    border: none;
    display: flex;
    margin-bottom: 20px;
  }

  .logout input {
    background-color: transparent;
    color: #ccc;
    border: none;
    font-size: 16px;
  }

  .logout {
    margin-left: 5px;
    color: #ccc;
  }

  .input:hover,
  .logout:hover {
    color: #fff;
  }

  @media (max-width: 310px) {
    .profile-info h3 {
      font-size: 25px;
    }
  }

  .btn-name {
    color: #fff;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
  }

  .view-btn,
  .delete-btn {
    padding: 10px 20px;
    margin: 5px 20px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
  }

  .view-btn {
    background-color: #ffca2b;
    color: #000;
    margin-top: 45px;
  }

  .delete-btn {
    background-color: #bb2d3a;
    color: #fff;
  }

  .view-btn:hover,
  .delete-btn:hover {
    opacity: 0.8;
  }
  .view:hover,
  .delete:hover,
  .tasks-view {
    opacity: 0.8;
  }

  .view,
  .delete,
  .tasks-view,
  .approve {
    padding: 10px 20px;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
  }

  .view,
  .tasks-view {
    background-color: #ffca2b;
    color: #000;
  }

  .view {
    right: -130px;
  }

  .delete {
    background-color: #bb2d3a;
    color: #fff;
    cursor: pointer;
  }
  .approve {
    background-color: green;
    color: #fff;
    cursor: pointer;
  }

  .user-details {
    color: #fff;
    margin: 30px 20px;
  }

  .single-user,
  .tasks {
    border: 0.1px solid #ccc;
    padding: 8px 20px;
    background-color: #17181b;
    margin: 15px;
    max-height: 68px;
    overflow: hidden;
    transition: all 0.3s ease;
    color: #fff;
  }

  .single-user {
    transition: all 0.3s ease;
  }
  .single-user.expand {
    max-height: 350px;
    overflow-y: scroll;
  }

  .tasks {
    max-height: 200px;
  }

  /**/
  .toggle {
    display: block;
  }

  .user-img {
    height: 70px;
    width: 70px;
    margin: 20px;
    white-space: nowrap;
  }

  .user-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-info div {
    margin-bottom: 15px;
  }

  .user-info p {
    font-size: 14px;
    line-height: 1.3;
  }
  .search-box i {
    margin-right: 10px;
  }

  .search-box {
    margin: 25px;
  }
}

@media (min-width: 816px) {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    margin: 20px;
  }

  .profile {
    flex: 1 1 30%;
    margin-right: 60px;
    box-shadow: rgba(205, 205, 162, 0.25) 0px 13px 27px -5px,
      rgba(250, 250, 250, 0.3) 0px 8px 16px -8px;
    text-align: center;
    padding: 15px;
  }

  @media (max-width: 866px) {
    .profile {
      margin-right: 10px;
    }
  }

  .tab-container {
    flex: 1 2 70%;
  }

  .profile-img {
    height: 250px;
    width: 250px;
    margin: auto;
    margin-bottom: 25px;
  }

  .profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .button-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  }

  .button-container button {
    padding: 15px;
    margin-right: 15px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 17px;
  }

  i {
    margin-right: 10px;
  }

  .tab-panel {
    display: none;
  }

  .profile-info {
    color: #fff;
    letter-spacing: 0.5px;
    margin-left: 20px;
  }

  .profile-info h3 {
    font-size: 30px;
  }

  .profile-info h5 {
    opacity: 0.6;
    font-weight: 400;
    line-height: 2;
    font-size: 15px;
  }

  input {
    background-color: transparent;
    color: #ccc;
    border: none;
    font-size: 16px;
    margin-left: 10px;
  }

  .logout {
    margin-left: 5px;
    color: #ccc;
  }

  input:hover,
  .logout:hover {
    color: #fff;
  }

  .view-btn,
  .delete-btn {
    padding: 10px 20px;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
  }

  .view-btn {
    background-color: #ffca2b;
    color: #000;
  }

  .delete-btn {
    background-color: #bb2d3a;
    color: #fff;
    cursor: pointer;
  }

  .view-btn:hover,
  .delete-btn:hover {
    opacity: 0.8;
  }

  .individual-news .side-buttons {
    margin-top: 10px;
  }

  .view,
  .delete,
  .approve,
  .tasks-view {
    padding: 10px 20px;
    margin: 10px 10px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
  }

  .view:hover,
  .delete:hover,
  .approve:hover,
  .tasks-view:hover {
    opacity: 0.8;
  }

  .view,
  .tasks-view {
    background-color: #ffca2b;
    color: #000;
  }

  .delete {
    background-color: #bb2d3a;
    color: #fff;
    cursor: pointer;
  }

  .approve {
    background-color: green;
    color: #fff;
    cursor: pointer;
  }

  .tasks .heading h3 {
    margin: 10px 0;
  }
  .single-user::-webkit-scrollbar {
    width: 5px;
  }

  .single-user::-webkit-scrollbar-track {
    background: #17181b;
  }

  .single-user::-webkit-scrollbar-thumb {
    background: #fff;
  }

  @media (max-width: 1286px) {
    .profile-img {
      height: 200px;
      width: 200px;
      margin: 10px;
    }

    .button-container button,
    .button-container form input {
      font-size: 13px;
    }

    @media (max-width: 1121px) {
      .button-container button {
        padding: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
      }

      .logout {
        margin-bottom: 7px;
      }
    }
  }

  .single-user,
  .tasks {
    width: 500px;
    border: 0.1px solid #ccc;
    padding: 8px 20px;
    background-color: #17181b;
    margin: 30px 0;
    max-height: 70px;
    overflow: hidden;
    transition: all 1s ease;
  }

  .tasks {
    /* overflow-y: scroll; */
    max-height: 170px;
  }

  .single-user.expand {
    max-height: 600px;
    overflow-y: scroll;
  }

  /**/
  .toggle {
    display: block;
  }

  .user-img {
    height: 70px;
    width: 70px;
    margin: 20px;
  }

  .user-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-info div {
    margin-bottom: 15px;
  }

  .user-info p {
    font-size: 14px;
    line-height: 1.3;
  }
}

* {
  box-sizing: border-box;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search-box i {
  margin-left: 10px;
}

.side-buttons {
  display: flex;
  justify-content: flex-end;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.individual-news .heading {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.individual-news {
  background-color: #17181b;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.news {
  margin-bottom: 10px;
}

@media (max-width: 472px) {
  .side-buttons {
    flex-direction: column;
  }

  .heading {
    align-items: flex-start;
  }

  .heading h3 {
    margin-top: 15px;
  }
  .single-user.expand {
    max-height: 350px;
    overflow-y: scroll;
  }

  .individual-news .side-buttons {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .tasks .side-buttons {
    flex-direction: row;
  }
}

.tasks .heading {
  flex-direction: column;
}

@media (max-width: 348px) {
  .tasks .side-buttons {
    flex-direction: column;
  }
  .tasks {
    max-height: 500px;
  }
}

@media (max-width: 444px) {
  .individual-news .approve,
  .individual-news .delete,
  .individual-news .tasks-view {
    margin: 10px 4px 0 0;
  }
}
.approve input {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 0;
}

@media (max-width: 386px) {
  .individual-news .side-buttons {
    justify-content: center;
  }
}
