@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #050505;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 800px) {
  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #17181b;
    margin-bottom: 20px;
    padding: 30px 0 10px 0;
  }

  .profile-img {
    height: 60px;
    width: 60px;
    margin: 20px;
  }

  .profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-info {
    color: #fff;
    letter-spacing: 0.5px;
  }

  .profile-info h3 {
    font-size: 30px;
  }

  .profile-info h5 {
    opacity: 0.6;
    font-weight: 400;
    line-height: 2;
    font-size: 15px;
  }

  .btn i {
    color: #fff;
    opacity: 0.6;
    font-size: 25px;
    margin-right: 20px;
  }

  .tab-panel {
    display: none;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
    background-color: #17181b;
    padding: 30px 20px;
  }

  .button-container button {
    background-color: transparent;
    border: none;
    display: flex;
    margin-bottom: 20px;
  }

  input {
    background-color: transparent;
    color: #ccc;
    border: none;
    font-size: 16px;
  }

  .logout {
    margin-left: 5px;
    color: #ccc;
  }

  .input:hover,
  .logout:hover {
    color: #fff;
  }

  @media (max-width: 310px) {
    .profile-info h3 {
      font-size: 25px;
    }
  }

  .btn-name {
    color: #fff;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
  }

  .view-btn,
  .delete-btn {
    padding: 10px 20px;
    margin: 5px 20px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
  }

  .view-btn {
    background-color: #ffca2b;
    color: #000;
    margin-top: 45px;
    top: 72%;
    right: 0;
  }

  .delete-btn {
    background-color: #bb2d3a;
    color: #fff;
    top: 70%;
    right: 0;
    margin-top: 15px;
  }

  .view-btn:hover,
  .delete-btn:hover {
    opacity: 0.8;
  }
  .view:hover,
  .delete:hover,
  .tasks-view {
    opacity: 0.8;
  }

  .view,
  .delete,
  .tasks-view,
  .approve {
    padding: 10px 20px;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    position: relative;
    top: -40px;
    right: -40px;
  }

  .view,
  .tasks-view {
    background-color: #ffca2b;
    color: #000;
  }

  .delete {
    background-color: #bb2d3a;
    color: #fff;
    cursor: pointer;
    margin-top: 4px;
    right: -31px;
  }
  .approve {
    background-color: green;
    color: #fff;
    cursor: pointer;
  }

  .tasks {
    min-height: 170px;
  }

  .tasks .side-buttons {
    display: flex;
  }

  .tasks .side-buttons .delete {
    margin-top: 10px;
  }

  .tasks .heading h3 {
    margin-bottom: 45px;
  }
  .side-buttons {
    float: right;
  }

  .user-details {
    color: #fff;
    margin: 30px 20px;
  }

  .single-user,
  .tasks {
    border: 0.1px solid #ccc;
    padding: 20px;
    background-color: #17181b;
    margin: 15px 0;
    max-height: 64px;
    overflow: hidden;
    transition: all 0.3s ease;
    color: #fff;
  }

  .single-user.expand {
    max-height: 300px;
  }

  /**/
  .toggle {
    display: block;
  }

  .user-img {
    height: 70px;
    width: 70px;
    margin: 20px;
  }

  .user-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-info div {
    margin-bottom: 15px;
  }

  .user-info p {
    font-size: 14px;
    line-height: 1.3;
  }
}

@media (min-width: 802px) {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    margin: 30px;
  }

  .profile {
    flex: 1 1 30%;
  }

  .tab-container {
    flex: 1 2 70%;
  }

  .profile-img {
    height: 250px;
    width: 250px;
    margin: 20px;
  }

  .profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .button-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .button-container button {
    padding: 15px;
    margin-right: 15px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 17px;
  }

  i {
    margin-right: 10px;
  }

  .tab-panel {
    display: none;
  }

  .profile-info {
    color: #fff;
    letter-spacing: 0.5px;
    margin-left: 20px;
  }

  .profile-info h3 {
    font-size: 30px;
  }

  .profile-info h5 {
    opacity: 0.6;
    font-weight: 400;
    line-height: 2;
    font-size: 15px;
  }

  input {
    background-color: transparent;
    color: #ccc;
    border: none;
    font-size: 16px;
    margin-left: 10px;
  }

  form {
    display: inline;
  }

  .logout {
    margin-left: 5px;
    color: #ccc;
  }

  input:hover,
  .logout:hover {
    color: #fff;
  }

  .view-btn,
  .delete-btn {
    padding: 10px 20px;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    display: block;
  }

  .view-btn {
    background-color: #ffca2b;
    color: #000;
    position: fixed;
    top: 30%;
    right: 5%;
  }

  .delete-btn {
    background-color: #bb2d3a;
    color: #fff;
    position: fixed;
    top: 36%;
    right: 5%;
    cursor: pointer;
  }

  .view-btn:hover,
  .delete-btn:hover {
    opacity: 0.8;
  }

  .side-buttons {
    float: right;
  }

  .view,
  .delete,
  .approve,
  .tasks-view {
    padding: 10px 20px;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    position: relative;
    top: -40px;
  }

  .view:hover,
  .delete:hover,
  .approve:hover,
  .tasks-view:hover {
    opacity: 0.8;
  }

  .view,
  .tasks-view {
    background-color: #ffca2b;
    color: #000;
  }

  .delete {
    background-color: #bb2d3a;
    color: #fff;
    cursor: pointer;
  }

  .approve {
    background-color: green;
    color: #fff;
    cursor: pointer;
  }

  .tasks {
    min-height: 150px;
  }

  .tasks .heading h3 {
    margin-bottom: 45px;
  }

  @media (max-width: 1286px) {
    .profile-img {
      height: 200px;
      width: 200px;
      margin: 10px;
    }

    .button-container button,
    .button-container form input {
      font-size: 13px;
    }

    @media (max-width: 1121px) {
      .button-container button {
        padding: 5px;
        margin-right: 5px;
      }
    }
  }

  .single-user,
  .tasks {
    width: 500px;
    border: 0.1px solid #ccc;
    padding: 20px;
    background-color: #17181b;
    margin: 30px 0;
    max-height: 64px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .single-user.expand {
    max-height: 300px;
  }

  /**/
  .toggle {
    display: block;
  }

  .user-img {
    height: 70px;
    width: 70px;
    margin: 20px;
  }

  .user-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-info div {
    margin-bottom: 15px;
  }

  .user-info p {
    font-size: 14px;
    line-height: 1.3;
  }
}
