{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'user.css' %}" />

    <link rel="icon" href="{% static 'images/logo.png' %}" />

    <title>{{ ID }} | Cultural Classist</title>
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <div class="profile-img">
          <img src=" /media/{{ PROFILE }}" alt="" />
        </div>
        <div class="profile-info">
          <h3>{{ ID }}</h3>

          <h5>{{ POST }}</h5>
        </div>
      </div>
      <div class="tab-container">
        <div class="button-container">
          {% if POST == "Admin" %}
          <button onclick="showPanel(0)" class="btn">
            <i class="far fa-bell"></i>
            <span class="btn-name">Tasks</span>
          </button>
          {% endif %} {% if POST == "Admin" %}
          <button onclick="showPanel(1)" class="btn">
            <i class="fas fa-user"></i>
            <a href="#" class="btn-name">Manage Users</a>
          </button>
          {% endif %}

          <button onclick="showPanel(2)" class="btn">
            <i class="fas fa-newspaper"></i>
            <a href="{% url 'publish' %}" class="btn-name"> Publish news</a>
          </button>

          {% if POST == 'Admin' %}
          <button onclick="showPanel(3)" class="btn">
            <i class="fas fa-registered"></i>
            <a href="{% url 'registration' %}" class="btn-name">Registration</a>
          </button>
          {% endif %}

          <form action="{{ acc_url }}" class="logout" method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="logout" />
            <input type="submit" class="btn" value="Logout" class="logout" /><i
              class="fas fa-sign-out-alt logout"
            ></i>
          </form>
        </div>

        {% if POST == 'Admin' %}
        <div class="tab-panel">
          {% for content in contents %}
          <div class="tasks">
            <div class="heading">
              <h3>{{ content.heading }}</h3>

              <div class="side-buttons">
                {% if content.state == False %}
                <form action="{{ acc_url }}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="_method" value="approve" />
                  <input type="hidden" name="_news" value="{{ content.id }}" />
                  <button type="button" class="approve">
                    <input type="submit" value="Approve" />
                  </button>
                </form>
                <button type="button" class="tasks-view">
                  <a href="/readmore/approve/{{ content.id }}">View</a>
                </button>
                {% else %}
                <button type="button" class="tasks-view">
                  <a href="/readmore/{{ content.id }}">View</a>
                </button>
                {% endif %}

                <form action="{{ acc_url }}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="_method" value="delete" />
                  <input
                    type="hidden"
                    name="_content"
                    value="{{ content.id }}"
                  />
                  <input type="submit" class="delete" value="Delete" />
                </form>
              </div>
            </div>
          </div>

          {% empty %} No Notifications {% endfor %}
        </div>
        {% endif %}

        <!-- user tab panel -->
        <div class="tab-panel">
          <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input
              type="text"
              class="input-search"
              placeholder="Type to Search..."
            />
          </div>

          <div class="user-details">
            {% for user in users %} {% if user.accessID != ID %}
            <div class="single-user">
              <div class="heading">
                <h3>{{ user.accessID }}</h3>

                <div class="side-buttons">
                  <button type="button" class="view" id="view">
                    <a href="#">View</a>
                  </button>
                  <form action="{{ acc_url }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="user" />
                    <input
                      type="hidden"
                      name="_content"
                      value="{{ user.accessID }}"
                    />
                    <input type="submit" class="delete" value="Delete" />
                    <!-- <input type="submit" class="approve" value="Approve" /> -->
                  </form>
                </div>
              </div>
              <div class="expand">
                <div class="user-img">
                  <img src=" /media/{{ user.image }}" alt="Image not found" />
                </div>
                <div class="user-info">
                  <div>
                    <h2>{{ user.accessID }}</h2>

                    <h4>{{ user.post }}</h4>
                  </div>
                  <div>
                    <p>{{ user.email }}</p>

                    <p>{{ user.number }}</p>
                  </div>
                </div>
                {% for indi_con in contents %} {% if indi_con.writer ==
                user.accessID %}
                <h2 class="news">News</h2>
                <div class="individual-news">
                  <div class="heading">
                    <h3>{{ indi_con.heading }}</h3>

                    <div class="side-buttons">
                      {% if indi_con.state == False %}
                      <form action="{{ acc_url }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="approve" />
                        <input
                          type="hidden"
                          name="_news"
                          value="{{ content.id }}"
                        />

                        <button type="button" class="approve">
                          <input type="submit" value="Approve" />
                        </button>
                      </form>
                      <button type="button" class="tasks-view">
                        <a href="/readmore/approve/{{ content.id }}">View</a>
                      </button>
                      {% else %}
                      <button type="button" class="tasks-view">
                        <a href="/readmore/{{ content.id }}">View</a>
                      </button>
                      {% endif %}

                      <form action="{{ acc_url }}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete" />
                        <input
                          type="hidden"
                          name="_content"
                          value="{{ content.id }}"
                        />
                        <input type="submit" class="delete" value="Delete" />
                      </form>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'user.js' %}"></script>
  </body>
</html>
