{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'user.css' %}" />
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <title>{{ ID }} | Cultural Classist</title>
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <div class="profile-img">
          <img src="/media/{{ PROFILE }}" alt="Image not found" />
        </div>
        <div class="profile-info">
          <h3>{{ ID }}</h3>
          <h5>{{ POST }}</h5>
        </div>
      </div>
      <div class="tab-container">
        <div class="button-container">
          <button onclick="showPanel(0)" class="btn">
            <i class="far fa-bell"></i>Notifications
          </button>

          <button onclick="showPanel(1)" class="btn">
            <a href="{% url 'publish' %}"
              ><i class="fas fa-newspaper"></i> Publish news</a
            >
          </button>
          
          <button onclick="showPanel(2)" class="btn">
            <a href="#"><i class="fas fa-registered"></i> Registration</a>
          </button>

          <form action="{{ acc_url }}" class="logout" method="post">
            {% csrf_token %}
            <input type="submit" class="btn" value="Logout" class="logout" /><i
              class="fas fa-sign-out-alt logout"
            ></i>
          </form>
        </div>
        {% for content in contents %}
        <div class="tab-panel">{{ content.heading }}</div>
        {% empty %}
        <div class="tab-panel">
          <button type="button" class="view-btn">View</button>
          <button type="button" class="delete-btn">Delete</button>
        </div>
        {% endfor %}
        <div class="tab-panel"></div>
      </div>
    </div>
    <script src="{% static 'user.js' %}"></script>
  </body>
</html>
