{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'publish.css' %}" />
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <title>Publish | CC news</title>
  </head>
  <body>
    <div class="header">
      <div class="image">
        <img src="profile.png" alt="" />
      </div>
      <div class="user-info">
        <p>Username</p>
        <a href=""><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>
      <div class="container">
      <h1 class="heading">Publish News</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01"
          >Category</label
        >
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="Bangladesh Affairs">Bangladesh Affairs</option>
          <option value="Cultural Insights<">Cultural Insights</option>
          <option value="Sports Insight">Sports Insight</option>
          <option value="Achievements">Achievements</option>
          <option value="Small Talk With Gems(Interviews)">
            Small Talk With Gems(Interviews)
          </option>
          <option value="Cultural Classicists">Cultural Classicists</option>
          <option value="Youth">Youth</option>
          <option value="District Insights">District Insights</option>
          <option value="Comics">Comics</option>
          <option value="Trending">Trending</option>
          <option value="Diversed">Diversed</option>
        </select>
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fas fa-images"></i
          ></span>
          <input type="file" class="form-control" id="myFile" name="filename" />
        </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fas fa-heading"></i
        ></span>
        <input type="text" class="form-control" placeholder="Heading" />
      </div>

      <div class="input-group textarea">
        <span class="input-group-text">Body</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fas fa-times"></i
        ></span>
        <input type="text" class="form-control" placeholder="P" />
      </div>

     <input type="submit" class="btn btn-dark btn-lg" value="PUBLISH" />
  </form>
      </div>

  </body>
</html>