{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'readmore.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <script
    src="https://kit.fontawesome.com/dbed6b6114.js"
    crossorigin="anonymous"
    ></script>
    <title>The Classicist Express</title>
</head>
<body>
    <header>
        <div class = "navigation-container">
          <div class = "top-head">
            <div class = "web-name">
              <div class = "ham-btn">
                <span>
                    <i class = "fas fa-bars"></i>
                </span>
            </div>

            <div class = "times-btn">
                <span>
                    <i class = "fas fa-times"></i>
                </span>
              </div>
            <div class="headline">
              <div class="image">
                <img src="{% static 'images/newslogo.png' %}" alt="">
              </div>
              <p>Sunday, 14 July, 2021</p>
            </div>
          </div>



        </div>

            <!-- nav bar -->

            <div class = "nav-bar" id = "nav-bar">
                <nav>
                    <ul>
                        <li><a href = "{% url 'home' %}">Home</a></li>
                        <li><a href = "{% url 'bd' %}">Bangladesh Affairs</a></li>
                        <li><a href = "{% url 'cultural' %}">Cultural insights</a></li>
                        <li><a href = "{% url 'sports' %}">Sports insights</a></li>
                        <li><a href = "{% url 'achievements' %}">Achievements</a></li>
                        <li><a href = "{% url 'interview' %}">Small Talk with Gems</a></li>
                        <li><a href = "{% url 'cc' %}">Cultural classicists</a></li>
                        <li><a href = "{% url 'youth' %}">Youth</a></li>
                        <li><a href = "{% url 'district' %}">district insights</a></li>
                        <li><a href = "{% url 'comics' %}">comics</a></li>
                        <li><a href = "{% url 'trending' %}">trending</a></li>
                        <li><a href = "{% url 'diversed' %}">Diversed</a></li>
                    </ul>
                </nav>
            </div>
        </div>
      </header>
      <div class="news">
       
      
        <div class="top">
          <h1 class="headline">{{ HEADING }}</h1>
            <p>By <i>{{ NAME }}</i></p>
        </div>
          
        <div class="image">
          <img src="/media/{{ PIC }}" alt="">
        </div>
          
        <div class="content">
          <p>
              {{ NEWS }}
          </p>
        </div>
      </div>
    <script src="{% static 'readmore.js' %}"></script>
  </body>
</html>
