{% load static %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block 'title' %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="icon" href="{% static 'images/logo.png' %}">

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header -->
<input type="hidden" id="api" value="{{ api }}">
    <header>
        <div class = "navigation-container">
            <div class = "top-head">
            <div class = "web-name">
              <div class = "ham-btn">
                <span>
                    <i class = "fas fa-bars"></i>
                </span>
            </div>

            <div class = "times-btn">
                <span>
                    <i class = "fas fa-times"></i>
                </span>
              </div>
            <div class="headline">
              <div class="image">
                <img src="{% static 'images/newslogo.png' %}" alt="">
              </div>
              <p id="datetime"></p>
            </div>
          </div>



        </div>


            <!-- nav bar -->

            <div class = "nav-bar" id = "nav-bar">
                <nav>
                    <ul>
                        <li><a href = "{% url 'home' %}">Home</a></li>
                        <li><a href = "{% url 'bd' %}">Bangladesh Affairs</a></li>
                        <li><a href = "{% url 'achievements' %}">International Affairs</a></li>
                        <li><a href = "{% url 'cultural' %}">Cultural Insights</a></li>
                        <li><a href = "{% url 'sports' %}">Sports Insights</a></li>
                        <li><a href = "{% url 'achievements' %}">Achievements</a></li>
                        <li><a href = "{% url 'interview' %}">Small Talk With Gems</a></li>
                        <li><a href = "{% url 'cc' %}">Cultural Classicists</a></li>
                        <li><a href = "{% url 'youth' %}">Youth</a></li>
                        <li><a href = "{% url 'district' %}">District Insights</a></li>
                        <li><a href = "{% url 'comics' %}">Comics</a></li>
                        <li><a href = "{% url 'trending' %}">Trending</a></li>
                        <li><a href = "{% url 'diversed' %}">Diversed</a></li>
                    </ul>
                </nav>
            </div>


        </div>
      </header>
    <main>
      <section class="main-container-left">
        <h2>Top Stories</h2>
        <div class="container-top-left">
        </div>

        <div class="container-bottom-left">
        </div>
      </section>

      <section class="main-container-right">
        <h2>Latest Stories</h2>
        <div id="right">
        </div>
      </section>
    </main>
    <div class="news">
      <section class="main-container-left">
        <h2>News</h2>
        <div class="container-bottom-left">
        </div>
      </section>
    </div>
     <footer>
      <div class="footer-container">
        <div class="footer-left">
          <h2>Cultural Classicists</h2>
          <p>
            News portal for Cultural Classicists
          </p>
        </div>

      </div>


    </footer>

    <script src="{% static 'base.js' %}"></script>
  </body>
</html>