{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
{{ TITLE }}
{% endblock %}

{% block 'news' %}
    <main>
      <section class="main-container-left">
        <h2>Top Stories</h2>
        <div class="container-top-left">
          <article>
            <img id="topLeftPicture" />

            <div>
              <h3 id="topLeftHeading"></h3>

              <p id="topLeftNews"></p>

              <a id="topLeftLink">Read More <span>>></span></a>
            </div>
          </article>
        </div>

        <div class="container-bottom-left">
          <article>
            <img id="bottomLeftPicture" />
            <div>
              <h3 id="bottomLeftHeading"></h3>
              <p id="bottomLeftNews"></p>

              <a id="bottomLeftLink">Read More <span>>></span></a>
            </div>
          </article>

          <article>
            <img src="{% static 'images/bottom-left-2.jpg' %}" />
            <div>
              <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Commodi iure modi animi cupiditate. Explicabo, nihil?
              </p>

              <a href="#">Read More <span>>></span></a>
            </div>
          </article>
        </div>
      </section>

      <section class="main-container-right">
        <h2>Latest Stories</h2>

        <article>
          <h4>just in</h4>
          <div>
            <h2>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
              asperiores repellendus sapiente illum!
            </h2>

            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <a href="#">Read More <span>>></span></a>
          </div>
          <img src="{% static 'images/right-1.jpg' %}" />
        </article>

        <article>
          <h4>just in</h4>
          <div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
              repellendus?
            </p>

            <a href="#">Read More <span>>></span></a>
          </div>
          <img src="{% static 'images/right-2.jpg' %}" />
        </article>

        <article>
          <h4>just in</h4>
          <div>
            <h2>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptate, doloribus?
            </h2>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
              repellendus?
            </p>

            <a href="#">Read More <span>>></span></a>
          </div>
          <img src="{% static 'images/right-3.jpg' %}" />
        </article>

        <article>
          <h4>just in</h4>
          <div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
              repellendus?
            </p>

            <a href="#">Read More <span>>></span></a>
          </div>
          <img src="{% static 'images/right-4.jpg' %}" />
        </article>

        <article>
          <h4>just in</h4>
          <div>
            <h2>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
              iure doloremque fugiat ratione. Deserunt, adipisci?
            </h2>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
              repellendus?
            </p>

            <a href="#">Read More <span>>></span></a>
          </div>
          <img src="{% static 'images/right-5.jpg' %}" />
        </article>
      </section>
    </main>
{% endblock %}